body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
}